.success {
  color: #468847;
}
.error {
  color: #b94a48;
}
.warning {
  color: #c09853;
}
.info {
  color: #3a87ad;
}
.app-header {
  position: fixed;
  height: 25px;
  width: 100%;
  background-color: #eee;
  border-bottom: solid 1px #999;
}
.app-header > div {
  text-align: center;
  padding-top: 3px;
}
.app-content {
  padding-top: 26px;
}
